.header-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

.title-review {
  font-size: 16px;
}
.container-all-reviews {
  margin: 10px 0 !important;
}

.container-review-rate {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rate {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}

.star-review {
  width: 13px;
  height: 13px;
}

.discription-reviews {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px !important;
  color: var(--primary-color);
}

@media (min-width: 769px) {
  .close-btn {
    display: none;
  }

  .rate {
    font-size: 16px;
  }

  .warapper {
    max-width: 768px;
    display: block;
    position: relative;
    top: calc(50% - 116px);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 0px 3px 1px;
    border-radius: 25px;
    margin-top: 35px;
    padding: 20px;
  }
  .container-over-flow {
    overflow: auto !important;
    height: 100%;
  }
  .title {
    font-size: 25px;
  }

  .rate {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
  }

  .star-review {
    width: 25px;
    height: 25px;
  }

  .title-review {
    font-size: 20px;
  }
  .discription-reviews {
    font-size: 14px;
    font-weight: 400;
  }
}
