.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.content-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  width: 122px !important;
}

.icon {
  color: var(--primary-color);
  width: 28px !important;
  height: 28px !important;
}

.text-icon {
  font-size: 12px !important;
  font-weight: 400;
}
