.container-question {
  margin: 20px 0;
}
.question {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
}

.container-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  gap: 2px;
  border: 1px solid #e8f3f1;
  background: #fff;
  height: 212px;
}
.container-card :hover {
cursor: pointer;
}
.container-card2 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  gap: 2px;
  border: 1px solid #e8f3f1;
  background: #fff;
  height: 212px;
}
.container-card2 :hover {
  cursor: pointer;
  }
.active-container-card {
  border: 1px solid var(--secondary-color) !important;
}
.active-container-card4 {
  border: 1px solid red !important;
}
.swiper-slide {
  width: 150px;
  margin-right: 10px !important;
}

.container-image {
  height: 115px;
  position: relative;
}

.name-card {
  margin-top: 5px !important;
  font-weight: 600;
  font-size: 12px;
  color: var(--primary-color);
}

.specialization {
  font-weight: 700;
  color: #adadad;
  padding-top: 5px;
  font-size: 9px;
  line-height: 10px;
}
.exp {
  color: (var(--primary-color));
  font-weight: 500;
  font-size: 8px;
}

.image {
  width: 100% !important;
  border-radius: 15px;
  object-position: center center !important;
  object-fit: cover !important;
}

.container-rate-review {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 10px;
}

.text-review {
  font-size: 8px;
  font-weight: 400;
  margin-top: 5px !important;
}

.view-profile {
  color: var(--secondary-color);
  font-size: 8px;
  font-weight: 600;
  height: 12px;
}

@media (min-width: 769px) {
  .container-card {
    height: 250px;
  }
  .container-card2 {
    height: 250px;
  }
  .name-card {
    font-size: 16px;
    padding-bottom: 2px;
  }

  .specialization {
    font-size: 15px;
    padding-bottom: 2px;
  }
  .exp {
    font-size: 12px;
    padding-bottom: 2px;
  }
  .text-review {
    font-size: 12px;
    padding-bottom: 4px;
    font-weight: 500;
  }
  .view-profile {
    font-size: 12px;
    display: none;
  }

  .question {
    font-size: 20px;
  }
}


