.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}
.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}
.container-question {
  margin: 20px 0;
}
.question {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
}

.container-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  gap: 2px;
  border: 1px solid #e8f3f1;
  background: #fff;
  height: 212px;
}

.active-container-card {
  border: 1px solid var(--secondary-color) !important;
}
.swiper-slide {
  width: 150px;
  margin-right: 10px !important;
}

.container-image {
  height: 115px;
  position: relative;
}

.name-card {
  margin-top: 5px !important;
  font-weight: 600;
  font-size: 12px;
  color: var(--primary-color);
}

.specialization {
  font-weight: 700;
  color: #adadad;
  font-size: 9px;
  line-height: 10px;
}
.exp {
  color: (var(--primary-color));
  font-weight: 500;
  font-size: 8px;
}

.image {
  width: 100% !important;
  border-radius: 15px;
}

.container-rate-review {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 10px;
}

.star-image {
  width: 13px;
  height: 13px;
}

.active {
  background-color: var(--secondary-color) !important;
  color: #ffffff !important;
}
.active {
  background-color: #a75cff;
  color: #fff;
}
.active .date {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.active .day {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
.text-review {
  font-size: 8px;
  font-weight: 400;
  margin-top: 5px !important;
}

.view-profile {
  color: var(--secondary-color);
  font-size: 8px;
  font-weight: 600;
  height: 12px;
}

/* -----------scheduling ----------------- */

.container-scheduling {
  border: 1px solid #e8f3f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 46px;
  height: 64px;
}

.container-scheduling:hover {
  background-color: var(--secondary-color);
}
.container-scheduling:hover {
  background-color: var(--secondary-color);
}
.container-scheduling:hover .day,
.container-scheduling:hover .date {
  color: white;
}
.day {
  color: #a1a8b0;
  font-size: 10px;
  font-weight: 400;
}
.date {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
}

.time {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
}

.card-time:hover .time {
  color: white;
}

.timeContainer {
  border-radius: 15px;
  border: 1px solid #adadad;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31%;
  height: 37px;
  margin-top: 20px;
}

.timeContainer:hover {
  background-color: var(--secondary-color);
}

.timeContainer:hover .time {
  color: white;
}

.Bigcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.line {
  background: #e2e2e2;
  height: 3px;
  /* margin: 20px 0; */
  width: 100%;
}

@media (max-width: 365px) and (min-width: 280px) {
  .timeContainer {
    width: 45%;
  }
}
