.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}
.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.line {
  background: #e2e2e2;
  height: 3px;
  /* margin: 20px 0; */
  width: 100%;
}

@media (min-width: 1280px) {

  .wrapper {
    max-width: 768px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
  }
  .step {
    font-size: 16px;
  }
  .title {
    font-size: 25px;
  }
  

  
}

@media (max-width: 1279px) and (min-width: 768px) {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .step {
    font-size: 16px;
  }
  .title {
    font-size: 25px;
  }
}