.book {
  color: var(--primary-color);
}

.treatmentText {
  color: #101623;
  font-size: 16px;
  font-weight: 600;
  margin: 1rem 0 1.5rem 0rem;
}
@media (max-width: 768px) and (min-width: 481px) {
  .treatmentText {
    font-size: 18px;
  }
}
@media (max-width: 1279px) and (min-width: 769px) {
  .treatmentText {
    font-size: 25px;
  }
}
@media (min-width: 1280px) {
  .treatmentText {
    font-size: 30px;
  }
}
