.holder {
  padding: 28px 0 0px 0;

}

.book {
  color: var(--primary-color);
}
.backIcon {
  margin: 0 28px 0 28px;
}
.treatmentText {
  color: #101623;
  font-size: 16px;
  font-weight: 800;
  margin: 1rem 0 0.8rem 0rem;
  padding: 0 28px 0 28px;
}
.tabscontainer::-webkit-scrollbar {
  display: none;
}
.tabscontainer {
  flex-direction: row;
  background-color: #fff;
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 28px 1rem 28px;
}

@media (min-width: 1280px) {
  .treatmentText {
    font-size: 25px;
    margin: 0rem 0 0.8rem 0rem;
  }
  .holder {
    max-width: 768px;
    display: block;
    padding-bottom: 28px;
    /* position: relative;
    top: calc(76% - 116px);
    left: 50%;
    transform: translate(-50%, -50%); */
   
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 25px;
    margin: 0 auto;

  }
  /* .desktopContainer{

    height: 60vh;
    width: 755px;
  
  } */
}

@media (min-width: 769px) and (max-width:1279px) {
  .treatmentText {
    font-size: 25px;
    margin: 0rem 0 0.8rem 0rem;
  }
  .holder {
    max-width: 768px;
    display: block;
    position: relative;
    top: calc(50% - 116px);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 2px 0px, rgba(60, 64, 67, 0.15) 0px 0px 3px 1px;
    border-radius: 25px;
    margin-top: 35px;

  }
  /* .desktopContainer{
    overflow-y: auto;
    height: 60vh;
    width: 755px;
  
  } */
}
