.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.container-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 2px;
  border: 1px solid #e8f3f1;
  background: #fff;
  height: auto;
}

.container-image {
  position: relative;
  aspect-ratio: 0.8/0.7;
  max-height: 150px;
}

.name-card {
  margin-top: 5px !important;
  font-weight: 600;
  font-size: 12px;
  color: var(--primary-color);
}

.specialization {
  font-weight: 700;
  color: #adadad;
  font-size: 9px;
  line-height: 10px;
}
.exp {
  color: (var(--primary-color));
  font-weight: 500;
  font-size: 8px;
}

.image {
  /* width: 100% !important; */
  border-radius: 15px;
  object-position: center center !important;
  object-fit: cover !important;
}

.container-rate-review {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 10px;
}

.star-image {
  width: 13px;
  height: 13px;
}

.text-review {
  font-size: 8px;
  font-weight: 400;
  margin-top: 5px !important;
}

.swiper-slide {
  margin-right: 10px !important;
}

@media (min-width: 769px) {
  .image {
    border-radius: 50%;
    width: 100px !important;
    height: 100px !important;
    margin: auto;
  }
  .container-card {
    max-width: 173px !important;
    height: 244px;
  }

  .container-image {
    aspect-ratio: none !important;
  }

  .name-card {
    font-size: 14px;
  }
  .specialization {
    font-size: 12px;
    line-height: 15px;
  }
  .exp {
    font-size: 11px;
    color: #adadad !important;
  }

  .star-image {
    width: 15px;
    height: 15px;
  }
  .text-review {
    font-size: 10px;

    font-weight: 400;

    color: #828282 !important;
  }
}
.view-profile {
  color: var(--secondary-color) !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  height: 12px !important;
  align-self: flex-end !important;
  margin-right: 12px !important;
  margin-top: 4px !important;
  cursor: pointer;
  text-align: right;
  width: fit-content;
}
.title {
  font-size: 25px;
}

@media (max-width: 768px) {
  /* .icon-desktop {
    display: none !important;
  } */
  /* .container-swiper-mobile {
    display: none !important;
  } */
}
/* @media (min-width: 769px) {
  .container-swiper-mobile {
    display: none !important;
  }
} */
