.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.warapper {
  padding: 0 0 28px 0;
}
.title {
  color: #001435;
  font-size: 18px;
  font-weight: 800;
  margin: 1rem 0 0 0;
  font-family: "Montserrat", sans-serif;
}
.subTitle {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin: 2rem 0 1rem 0;
}

.container {
  padding: 0 28px 0 28px;
}
.active {
  background-color: #a75cff;
  color: #fff;
}
.active .date {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.active .day {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}

.container-scheduling {
  border: 1px solid #e8f3f1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 46px;
  height: 64px;
}

.container-scheduling:hover {
  background-color: var(--secondary-color);
}
.container-scheduling:hover {
  background-color: var(--secondary-color);
}
.container-scheduling:hover .day,
.container-scheduling:hover .date {
  color: white;
}
.day {
  color: #a1a8b0;
  font-size: 10px;
  font-weight: 400;
}

.date {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
}

.time {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
}
.time:hover {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.container-question {
  margin: 2rem 0;
}
.question {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
  margin-top: 2rem;
}
.timeContainer {
  border-radius: 15px;
  border: 1px solid #adadad;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31%;
  height: 37px;
  margin-top: 20px;
}
.timeContainer:hover {
  background-color: var(--secondary-color);
}
.timeContainer:hover .time {
  color: white;
}

.Bigcontainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.form-control:focus {
  outline: none !important;
}
@media (min-width: 1280px) {
  .warapper {
    max-width: 768px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
  }
  .headerContainer {
    display: none;
  }
  .title {
    font-size: 25px;
  }
}
@media (max-width: 1279px) and (min-width: 769px) {
  .warapper {
    max-width: 768px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 75vh;
    padding: 0;
  }
  .headerContainer {
    display: none;
  }
}
@media (max-width: 365px) and (min-width: 280px) {
  .timeContainer {
    width: 45%;
  }
}
