.customradio input[type="radio"] {
  accent-color: #a75cff;
  width: 15px;
  height: 15px;
}
.customradio {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
}
.styleLabel{
  display: "flex";
  justify-content: "space-between";
  align-items: "center";
  /* margin-bottom: "0.5rem"; */
  
}
@media (max-width: 365px) and (min-width: 278px) {
  .labstyleLabelel{
 font-size: 12px;
  }
}