.container-logo {
  position: relative;
}
.image-login {
  position: relative;
}

.btn {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--secondary-color) !important;
  color: #f9fafb;
  font-weight: 700;
  border: none !important;
  outline: none !important;
  border-radius: 35px !important;
  height: 24px;
  width: 116px;
  font-family: "Quicksand", sans-serif !important;
}

@media (min-width: 776px) {
  .container-logo {
    width: 243px;
    height: 43px;
  }
  .btn {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
  }
  .image-login {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 776px) {
  .container-logo {
    width: 243px;
    height: 43px;
    position: relative;
  }

  .image-login {
    width: 50px;
    height: 50px;
  }
  .container-logo {
    width: 120px;
    height: 21px;
    position: relative;
  }

  .image-login {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 393px) {
  .container-logo {
    width: 120px;
    height: 21px;
    position: relative;
  }

  .image-login {
    width: 25px;
    height: 25px;
  }
}
