:root {
  --primary-color: #001435;
  --secondary-color: #a75cff;
  --gray-light-color: #e2e2e2;
  --gray-bold-color: #d0d0d0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0 !important;
}

p {
  color: #000;
  margin: 0 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

a {
  cursor: pointer;
}

.container1 {
  padding: 28px !important;
  /* padding-top: 28px !important;
  padding-bottom: 28px !important; */
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section,
.section-location,
.section-ouramenities,
.ourbusiness {
  margin: 30px 0;
}

.container-footer {
  margin-bottom: 70px;
  margin-top: 5px;
}
.flag-dropdown {
  border: none !important;
  background: none !important;
}
.form-control {
  width: 100% !important;
  height: 37px !important;
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.selected-flag {
  background-color: transparent !important;
}

.country-list {
  width: 240px !important;
  max-width: 240px !important;
  left: -4px !important;
}

.arrow {
  border: none !important;
  background-image: url("../arrow.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  width: 20px !important;
  height: 20px !important;
  background-color: white;
  display: flex;
  align-items: center;
  top: -4px !important;
  /* padding: 0 40px 0 20px !important; */
  margin-left: 17px;
  z-index: 10 !important;
}

.up {
  border: none !important;
  background-image: url("../arrow.svg") !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg) !important;
  background-size: cover;
  width: 20px !important;
  height: 20px !important;
  background-color: white;
  display: flex;
  align-items: center;
  top: -4px !important;
  /* padding: 0 40px 0 20px !important; */
  z-index: 100 !important;
  margin-right: 17px;
}

.selected-flag {
  width: 100px !important;
  padding-left: 20px !important;
}

.form-control {
  padding-left: 100px !important;
  color: #adadad !important;
  font-size: 12px;
  font-weight: 400;
}

.modal-header {
  border: none !important;
}
.close-btn {
  cursor: pointer !important;
}
@media (min-width: 1280px) {
  .container1 {
    padding: 65px !important;
    padding-top: 35px !important;
  }
}

.container-model {
  max-width: 800px !important;
}

.location iframe {
  height: 150px !important;
  border-radius: 20px;
  width: 100%;
}
.column-page {
  max-width: 800px !important;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 769px) {
  /* p {
    color: #adadad !important;
  } */
  .location iframe {
    height: 234px !important;
  }
  .icon-mobile {
    display: none !important;
  }
}
.container-footer {
  display: none;
}
.sticky-btn-desktop {
  display: none;
}
.container-loc-mobile {
  display: none;
}
.slide-up-doctor {
  display: none;
}
.description {
  font-size: 20px;
}
