:root {
  --primary-color: #001435;
  --secondary-color: #a75cff;
  --gray-light-color: #e2e2e2;
  --gray-bold-color: #d0d0d0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  border: 0;
  outline: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
  margin: 0 !important;
}

p {
  color: #000;
  margin: 0 !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

a {
  cursor: pointer;
}

.container1 {
  padding: 0 28px 28px 28px !important;
  /* padding-top: 28px !important;
  padding-bottom: 28px !important; */
}
.header-container-layout {
  padding: 28px 28px 28px 28px;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section,
.section-location,
.section-ouramenities,
.ourbusiness {
  margin: 30px 0;
}

.container-footer {
  margin-bottom: 70px;
  margin-top: 5px;
}
.flag-dropdown {
  border: none !important;
  background: none !important;
}
.form-control {
  width: 100% !important;
  height: 37px !important;
  border: none !important;
  outline: none !important;
}

.form-control:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.selected-flag {
  background-color: transparent !important;
}

.country-list {
  width: 240px !important;
  max-width: 240px !important;
  left: -4px !important;
}

.arrow {
  border: none !important;
  background-image: url("../arrow.svg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  background-position: center;
  width: 20px !important;
  height: 20px !important;
  background-color: white;
  display: flex;
  align-items: center;
  top: -4px !important;
  /* padding: 0 40px 0 20px !important; */
  margin-left: 17px;
  z-index: 10 !important;
}

.up {
  border: none !important;
  background-image: url("../arrow.svg") !important;
  background-repeat: no-repeat !important;
  transform: rotate(180deg) !important;
  background-size: cover;
  width: 20px !important;
  height: 20px !important;
  background-color: white;
  display: flex;
  align-items: center;
  top: -4px !important;
  /* padding: 0 40px 0 20px !important; */
  z-index: 100 !important;
  margin-right: 17px;
}
.navmodal {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.selected-flag {
  width: 100px !important;
  padding-left: 20px !important;
}

.form-control {
  padding-left: 100px !important;
  color: #adadad !important;
  font-size: 12px;
  font-weight: 400;
}

.modal-header {
  border: none !important;
}
.close-btn {
  cursor: pointer !important;
}
@media (min-width: 1280px) {
  .container1 {
    padding: 65px !important;
    padding-top: 35px !important;
  }
}

.container-model {
  max-width: 800px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.close {
  display: flex;
  align-items: center;
  justify-content: end;
}
.location iframe {
  height: 150px !important;
  border-radius: 20px;
  width: 100%;
}
.column-page {
  max-width: 800px !important;
}
.header-home {
  padding: 0 0 28px 0;
}
/* ::-webkit-scrollbar {
  display: none;
}

 */

@media (min-width: 769px) {
  /* p {
    color: #adadad !important;
  } */
  .form-control {
    font-size: 18px !important;
  }
  .slide-up-privacy {
    display: none;
  }
  .padding-up-mobile {
    padding-top: 0;
  }

  .section-location {
    margin: 30px 0 60px 0;
  }
  .sticky-btn-desktop {
    display: block !important;
  }
  .location iframe {
    height: 234px !important;
  }
  .icon-mobile {
    display: none !important;
  }
}
.container-footer {
  display: none;
}

.container-loc-mobile {
  display: none;
}
.slide-up-doctor {
  display: none;
}
.description {
  font-size: 20px;
}
.header-home {
  display: none;
}

@media (max-width: 768px) and (min-width: 393px) {
  .popup-privacy {
    display: none;
  }

  .slide-up-privacy {
    margin-bottom: 0px;
    text-align: center;
  }

  .padding-up-mobile {
    padding-top: 28px;
  }
  .header-container-layout {
    display: none;
  }
  .slide-up-doctor {
    display: block;
  }
  .header-home {
    display: block;
  }

  .popup-doctor {
    display: none;
  }
  .container-loc-mobile {
    display: block;
  }
  .container-loc-desktop {
    display: none;
  }

  .container1 {
    padding: 28px;
  }
  .container-footer {
    display: block;
  }

  .icon-mobile {
    display: block;
  }
}

@media (max-width: 393px) {
  .slide-up-privacy {
    margin-bottom: 0;
    text-align: center;
    display: block;
  }
  .padding-up-mobile {
    padding-top: 28px;
  }

  .container-footer {
    display: block;
  }

  .icon-mobile {
    display: block;
  }

  .popup-privacy {
    display: none;
  }
  .header-home {
    display: block;
  }
  .padding-up-mobile {
    padding-top: 28px;
  }

  .container-loc-mobile {
    display: block;
  }
  .header-landing .container-loc-desktop {
    display: none;
  }
  .popup-doctor {
    display: none;
  }
  .slide-up-doctor {
    display: block;
  }
  .header-container-layout {
    display: none;
  }
}
@media (min-width: 1129px) {
  .sticky-btn-desktop {
    display: none !important;
  }
  .container1 {
    padding: 0 28px 28px 28px !important;
  }
}
