.title {
  color: #001435;
  font-size: 18px;
  font-weight: 800;
  margin: 2rem 0 2rem 0rem;
}

.deleteAccount {
  color: #000;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 0.6rem 0 0 0;
}
.deleteAccount:hover {
  cursor: pointer;
}
.yesButton {
  background-color: #adadad;
  border-radius: 35px;
  border: 1px solid #adadad !important;
  display: flex;
  width: 68px;
  height: 30px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.yesButton:hover {
  background-color: #adadad !important;
}

.yesButton:active {
  background-color: #585858 !important;
  border: 1px solid #585858 !important;
}

.noButton {
  background-color: #a75cff;
  border-radius: 35px;
  border: 1px solid #fff;
  display: flex;
  width: 68px;
  height: 30px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}
.modalHeader {
  background-color: #e2e2e2;
  border-color: #e2e2e2 !important;
  border-top-right-radius: 20px !important;
  border-top-left-radius: 20px !important;
}
.modalFooter {
  background-color: #e2e2e2;
  border-color: #e2e2e2 !important;
  justify-content: center;
  gap: 24px;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}
.modal {
  background-color: #e2e2e2;
  border-color: #e2e2e2 !important;
}
.modalBody {
  background-color: #e2e2e2;
  border-color: #e2e2e2 !important;
  text-align: center;
  color: #828282;
  font-size: 12px;
  font-weight: 400;
}

.input {
  width: 80%;
  height: 52px;
  border-radius: 24px;
  border: 1px solid #f9fafb;
  background: #f9fafb;
}
.input:focus {
  outline: none;
  background: #f9fafb;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f9fafb inset;
  -webkit-text-fill-color: #333;
}

.input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f9fafb inset;
  -webkit-text-fill-color: #333;
}

.input:-webkit-autofill-selected {
  background-color: #f9fafb !important;
}

.inputContainer {
  width: 100%;
  height: 56px;
  border-radius: 24px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 0.5rem;
}
.popup {
  width: 240.587px;
  height: 148.411px;
  background-color: #E8E8E8;
  color: #828282;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.popup p {
  color: #828282;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}
@media (min-width: 1280px) {
  .title {
    font-size: 25px;
  }
  .deleteAccount {
    font-size: 18px;
  }
}

@media (max-width: 1279px) and (min-width: 769px) {
  .title {
    font-size: 20px;
  }
  .deleteAccount {
    font-size: 16px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .title {
    font-size: 18px;
  }
  .deleteAccount {
    font-size: 14px;
  }
}
