.backIcon {
  margin: 28px 0 0 25px;
}
.background {
  border-radius: 25px;
  padding: 0 28px 0 28px;
}

.holder {
  padding: 28px 0 28px 0;
}
.containerHero {
  height: 220px;
  border-radius: 0;
  margin: 20px auto;
  position: relative;
}
.mainContainer {
  padding: 0 28px 0 28px;
}
/* .wrapper div {
  font-size: 14px;
}
.wrapper p {
  font-size: 14px;
}
.wrapper span {
  font-size: 14px;
} */
.subName {
  color: #001435;
  font-size: 18px;
  font-weight: 800;
  margin: 30.7px 0 19px 0;
}
.subDuration {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 3px 0;
}
.subDiscreption {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0.3px 0;
}
.learnMore1 {
  margin: 0 0 29px 0;
  color: #a75cff !important;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
}
.container {
  margin: 2rem auto 1rem auto;
}
.button {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

@media (min-width: 1280px) {

  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .subName {
    font-size: 25px;
  }
  .background {
    border-radius: 55px;
  }
  .containerHero {
    height: 35vh;
    margin: 0px auto;
  }
  .subDuration {
    font-size: 18px;
  }
  .subDiscreption {
    font-size: 18px;
  }
  .learnMore1 {
    font-size: 18px;
  }

  .constChildContainer :nth-child(1) {
    font-size: 20px;
  }
  .constChildContainer :nth-child(2) {
    font-size: 20px;
  }

  .SelectHeader div {
    color: #000;
    font-size: 20px;
    font-weight: 700;
  }

  .noPayment {
    font-size: 20px;
    padding-bottom: 7rem;
  }
  .backIcon {
    display: none;
  }
  .price{
    width: 60px;
    font-size: 20px;
  }
  .duration{
    font-size: 20px;
  }
  .name{
    font-size: 20px;
  }
}

@media (max-width: 1279px) and (min-width: 769px) {
  .wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
  .subName {
    font-size: 25px;
  }
  .background {
    border-radius: 55px;
  }
  .containerHero {
    height: 35vh;
    margin: 0px auto;
  }
  .subDuration {
    font-size: 18px;
  }
  .subDiscreption {
    font-size: 18px;
  }
  .learnMore1 {
    font-size: 18px;
  }
  .noPayment {
    font-size: 20px;
    padding-bottom: 7rem;
  }

  
}

@media (max-width: 768px) and (min-width: 481px) {
  .subName {
    font-size: 18px;
  }
}

@media (max-width: 365px) and (min-width: 0px) {
  .subName {
    font-size: 14px;
  }
  .subDuration {
    font-size: 12px;
  }
  .subDiscreption {
    font-size: 12px;
  }

}
