.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #001435;
  font-size: 18px;
  font-weight: 800;
  margin: 1rem 0 0 0;
}
.subTitle {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin: 25.75px 0 23px 0;
}
.warpper {
  padding: 0 0 28px 0;
}
.container {
  padding: 0 28px 0 28px;
}
.bookingContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.treatmentContainer {
  display: flex;
  gap: 38px;
}
.treatmentContainer:first-child {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.treatmentName {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.treatmentDeatils {
  color: #000;
  font-size: 10px;
  font-weight: 400;
}
.practitionerContainer {
  display: flex;
  gap: 33px;
}
.practitionerContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.practitionerContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.timingContainer {
  display: flex;
  gap: 63px;
}
.timingContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.timingContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.totalContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer :nth-child(1) span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.call {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0 0;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.CancelTitle {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0 28px 0 28px;
}
.cancellation {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 0 28px 0 28px;
}
.cancellation span {
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.button {
  display: flex;
  width: 100%;
  height: 44px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 35px;
  border: 1px solid #adadad;
  background: linear-gradient(
    97deg,
    rgba(255, 255, 255, 0.2) 7.86%,
    rgba(255, 255, 255, 0) 92.86%
  );
  color: var(--neutral-color-cool-grey-50, #828282);
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1rem;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal {
  background-color: #e2e2e2;
}
.modalBody {
  text-align: center;
  width: 100%;
}

@media (min-width: 1280px) {
  .title {
    font-size: 25px;
  }
  .subTitle {
    font-size: 20px;
  }
  .treatmentContainer:first-child {
    font-size: 20px;
  }

  .treatmentName {
    font-size: 20px;
  }
  .treatmentDeatils {
    font-size: 16px;
  }
  .practitionerContainer :nth-child(1) {
    font-size: 20px;
  }
  .practitionerContainer :nth-child(2) {
    font-size: 20px;
  }

  .timingContainer :nth-child(1) {
    font-size: 20px;
  }
  .timingContainer :nth-child(2) {
    font-size: 20px;
  }

  .totalContainer :nth-child(1) {
    font-size: 20px;
  }
  .totalContainer :nth-child(2) {
    font-size: 20px;
  }
  .totalContainer :nth-child(1) span {
    font-size: 20px;
  }
  .call {
    font-size: 20px;
  }
  .CancelTitle {
    font-size: 20px;
  }
  .cancellation p {
    font-size: 20px;
  }
  .cancellation span {
    font-size: 20px;
  }
  .button {
    font-size: 18px;
  }
  .warpper {
    max-width: 780px;
    margin: 0 auto;
  }
  .timingContainer {
    display: flex;
    gap: 73px;
  }
}

@media (max-width: 1279px) and (min-width: 769px) {
  .title {
    color: #001435;
    font-size: 25px;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }
  .subTitle {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
  }

  .container {
    margin: 0rem auto;
  }

  .cardContainer {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: #e2e2e2 1px solid;
    border-radius: 20px;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardImage {
    width: 25%;
  }
  .cardContainer :nth-child(2) {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
  .warpper {
    max-width: 768px;
    margin: 0 auto;
  }
  .totalContainer :nth-child(1) {
    font-size: 20px;
  }
  .totalContainer :nth-child(2) {
    font-size: 20px;
  }
  .totalContainer :nth-child(1) span {
    font-size: 20px;
  }
  .CancelTitle {
    font-size: 20px;
  }
  .cancellation p {
    font-size: 20px;
  }
  .cancellation span {
    font-size: 20px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .title {
    color: #001435;
    font-size: 18px;
    font-weight: 800;
    margin: 1rem 0 0 0;
  }
  .subTitle {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin: 2rem 0 1rem 0;
  }

  .container {
    margin: 0rem auto;
  }

  .cardContainer {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: #e2e2e2 1px solid;
    border-radius: 20px;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cardImage {
    width: 25%;
  }
  .cardContainer :nth-child(2) {
    color: #828282;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (max-width: 320px) and (min-width: 280px) {
  .button {
    width: 290.458px;
  }
  .treatmentName {
    font-size: 12px;
  }
  .treatmentDeatils {
    font-size: 11px;
  }

  .practitionerContainer :nth-child(1) {
    font-size: 12px;
  }
  .practitionerContainer :nth-child(2) {
    font-size: 12px;
  }

  .totalContainer :nth-child(1) {
    font-size: 12px;
  }
  .totalContainer :nth-child(2) {
    font-size: 12px;
  }
  .totalContainer :nth-child(1) span {
    font-size: 12px;
  }
  .title {
    font-size: 14px;
  }
}
