.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}

.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.lable-phone {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 21px;
}

.container-phone {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid #adadad;
  padding: 0px 12px;
}

.container-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  width: 100px;
}
.container-left span {
  color: #adadad;
  font-size: 12px;
  font-weight: 400;
  height: 16px;
  width: 40px;
}
