.container-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}

.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.not-receive {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.input-digit {
  border: red !important;
}

.container-input {
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
}
.container-input input {
  border-radius: 16px !important;
  border: 1.5px solid #a75cff !important;
  background: #fff !important;
  width: 64px !important;
  height: 64px !important;
  margin: 0 !important;
  outline: none !important;
  color: #101623;
  font-size: 24px;
  font-weight: 700;
}

.container-input input:focus {
  border: 2px solid #a75cff !important;
}
