.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}

.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.not-receive {
  color: var(--secondary-color);
  text-align: center;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 12px;
}

.input-digit {
  border: red !important;
}

.container-input {
  margin: 20px 0;
  width: 100%;
  justify-content: space-between;
}
.container-input input {
  border-radius: 16px !important;
  border: 1.5px solid #a75cff !important;
  background: #fff !important;
  width: 64px !important;
  height: 64px !important;
  margin: 0 !important;
  outline: none !important;
  color: #101623;
  font-size: 24px;
  font-weight: 700;
}

.container-input input:focus {
  border: 2px solid #a75cff !important;
}

.timer {
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.text-otp {
  max-width: 220px;
}

@media (min-width: 769px) {
  .warapper {
    max-width: 768px;
    display: block;
    position: relative;
    top: calc(50% - 116px);
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .close-btn {
    display: none;
  }
  .step {
    font-size: 20px;
  }
  .title {
    font-size: 25px;
  }
  .text-otp {
    font-size: 20px;
  }
  .not-receive {
    font-size: 20px;
  }
  .text-otp {
    max-width: 350px;
    text-align: center;
    line-height: 25px;
  }
  .container-text-otp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
  }
  .container-input input {
    width: 107.122px !important;
    height: 107.122px !important;
  }
  .container-input {
    margin-bottom: 40px;
  }
  .timer {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
}
