/* .container-input {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.step {
  font-size: 12px;
  font-weight: 600;
  color: #adadad;
}

.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 15px !important;
}

.inputContainer {
  display: flex;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  position: relative;
}
.input-promocode {
  width: 100%;
  border-radius: 24px;
  border: 1px solid rgb(211, 211, 211);
  background-color: rgb(249, 250, 251);
  color: #a1a8b0;
  padding: 12px 9px 12px 60px;
  font-size: 16px;
  outline: none;
}
.icon-promo {
  position: absolute;
  left: 25px;
}

.lable-promo-code {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}
.nav-header {
  padding: 28px 28px 0 28px;
}
.line {
  background: #e2e2e2;
  height: 3px;
  margin: 20px 0;
}

.subTitle {
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin: 15px 0 15px 0;
}
.container {
  padding: 0 28px 0 28px;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.treatmentContainer {
  display: flex;
  gap: 38px;
}
.treatmentContainer:first-child {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.treatmentName {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.treatmentDeatils {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}
.practitionerContainer {
  display: flex;
  gap: 33px;
}
.practitionerContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.practitionerContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.timingContainer {
  display: flex;
  gap: 63px;
}
.timingContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
.timingContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.totalContainer :nth-child(1) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer :nth-child(2) {
  color: #000;
  font-size: 14px;
  font-weight: 700;
}
.totalContainer :nth-child(1) span {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.privacy {
  font-size: 10px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.container-privacy {
  margin-bottom: 60px !important;
  padding: 0 30px !important;
}

.btn-payment {
  background-color: var(--secondary-color) !important;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  border: none !important;
  outline: none !important;
  padding: 11px 20px !important;
  margin-top: 30px;
  border-radius: 35px !important;
}

.btn-payment p {
  color: #f9fafb !important;
  font-family: "Quicksand", sans-serif !important;
}

.container1 {
  padding: 0 28px !important;
}

.content-data-priv {
  text-align: left !important;
  margin-top: 10px;
}

@media (min-width: 769px) {
  .holder {
    max-width: 768px !important;
    margin: 0 auto !important;
  }
  .subTitle {
    font-size: 20px;
  }
  .step {
    font-size: 20px;
  }
  .title {
    font-size: 25px;
  }

  .input-promocode {
    font-size: 20px;
  }
  .icon-promo {
    position: absolute;
    left: 25px;
  }

  .lable-promo-code {
    font-size: 20px;
  }

  .subTitle {
    font-size: 20px;
  }

  .treatmentContainer:first-child {
    font-size: 20px;
  }

  .treatmentName {
    font-size: 20px;
  }
  .treatmentDeatils {
    font-size: 20px;
  }

  .practitionerContainer :nth-child(1) {
    font-size: 20px;
  }
  .practitionerContainer :nth-child(2) {
    font-size: 20px;
  }

  .timingContainer :nth-child(1) {
    font-size: 20px;
  }
  .timingContainer :nth-child(2) {
    font-size: 20px;
  }

  .totalContainer :nth-child(1) {
    font-size: 20px;
  }
  .totalContainer :nth-child(2) {
    font-size: 20px;
  }
  .totalContainer :nth-child(1) span {
    font-size: 20px;
  }

  .privacy {
    font-size: 20px;
  }

  .btn-payment {
    font-size: 20px;
  }

  .btn-payment p {
    font-size: 20px;
  }
  .text-left {
    font-size: 20px;
  }
  .text-cancellation {
    font-size: 20px;
    line-height: 25px;
  }
  .slide-up-privacy {
    display: none;
  }
  .privacy {
    padding: 0 13px !important;
    line-height: 25px;
  }
  .icon-promo {
    width: 30px;
    height: 30px;
  }
  .container-privacy {
    margin-bottom: 80px !important;
  }
}
