.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: #001435;
  font-size: 18px;
  font-weight: 800;
  margin: 1rem 0 0 0;
}
.subTitle {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin:2rem 0 1rem 0;
}

.container {
  width: 90%;
  margin: 2rem auto;
}

.cardContainer {
  width: 100%;
  height: fit-content;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: #E2E2E2 1px solid;
  border-radius: 20px;
  margin: 1rem 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cardImage {
 width: 25%;
}
.cardContainer :nth-child(2) {
  color: #828282;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px; 
}
.details :nth-child(4){
color: #A75CFF;
}
@media (max-width: 365px) and (min-width: 280px) {

  .cardContainer {
    padding:  0.5rem 0.5rem ;
  }

}