.modal-content {
    width: 300px !important;
    height: fit-content !important;
    background-color: rgb(144, 144, 144) !important;
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    border: none !important;
  }
  .btn-close {
    display: none !important;
  }
  .modal-body {
    padding-top: 0 !important;
    height: fit-content !important;
    flex: none !important;
  }
  