.modal-content {
  width: 300px !important;
  height: fit-content !important;
  background-color: #E2E2E2 !important;
  border-color: #E2E2E2 !important;
  display: flex;
  justify-content: center !important;
  margin: 0 auto;
  border-radius: 20px !important;
  border: none !important;
  text-align: center !important;
  color: #828282;
}
.btn-close {
  display: none !important;
}


@media (min-width: 769px) {
  .modal-content {
    width: 600px !important;
  }
}
