.tabscontainer::-webkit-scrollbar {
  display: none;
}
.tabscontainer {
  flex-direction: row;
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem 28px 1rem 28px;
}

.tab {
  height: 28px;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  color: #101623;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #c4c4c4;
  border-radius: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab:hover {
  cursor: pointer;
}
.active {
  background-color: rgb(235, 235, 235);
}

@media (min-width: 1280px) {
  .tabscontainer {
    padding: 1rem 28px 1rem 28px;
  }
  .tab {
    font-size: 20px;
    width: 150px;
    height: 35px;
  }
}

@media (max-width: 1279px) and (min-width: 769px) {
  .tab {
    font-size: 18px;
    width: 150px;
    height: 35px;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .tab {
    font-size: 16px;
    width: 130px;
    height: 35px;
  }
}

@media (max-width: 365px) and (min-width: 278px) {
  .tab {
    font-size: 12px;
    font-weight: 600;
  }
}
