
.timeContainer {
  border-radius: 15px;
  border: 1px solid #adadad;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 37px;
  margin-top: 20px;
}
.timeContainer:hover {
  background-color: var(--secondary-color);
}
.timeContainer:hover .time {
  color: white;
}

.Bigcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5rem;
 column-gap: 13px;
}
.time {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
}
.time:hover {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.container-question {
  margin: 2rem 0;
}
.question {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 700;
  margin-top: 2rem;
}

@keyframes loadingAnimation {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "..";
  }
  100% {
    content: ".";
  }
}
.loadingMessage {
  color: #a75cff;
  font-size: 12px;
  font-weight: 700;
}

.loadingDots::after {
  content: ".";
  animation: loadingAnimation 1s infinite;
  display: inline-block;
}

@media (min-width: 1280px) {
  .Bigcontainer {
   column-gap: 17px;
  }
  .timeContainer {
    width: 114px;
  }
} 

 @media (max-width: 1279px) and (min-width: 769px) {
  .Bigcontainer {
    column-gap: 20px;
   }
   .timeContainer {
     width: 120px;
   }
}
 @media (width: 768px) {
  .Bigcontainer {
    column-gap: 20px;
   }
   .timeContainer {
     width: 120px;
   }
}

@media (max-width: 621px) and (min-width: 507px) {
  .Bigcontainer {
    column-gap: 17px;
   }
   .timeContainer {
     width: 114px;
   }
}

@media (max-width: 500px){
  .Bigcontainer {
    column-gap: 13px;
   }
   .timeContainer {
     width: 103px;
   }
}
@media (max-width: 425px) and (min-width: 376px) {
  .Bigcontainer {
    column-gap: 17px;
   }
   .timeContainer {
     width: 115px;
   }
}

@media (max-width: 375px){
  .Bigcontainer {
    column-gap: 20px;
   }
   .timeContainer {
     width: 120px;
   }
}



