.title {
  font-weight: 800;
  font-size: 18px;
  color: var(--primary-color);
}
.title-icon,
.date {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
}

.title-icon {
  color: #828282;
}
.date {
  color: var(--primary-color);
}

.card {
  padding: 20px 10px;
}

.description {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: justify;
}

.read-more {
  font-weight: 700;
  font-size: 12px;
  color: var(--secondary-color);
  margin-top: 5px !important;
  cursor: pointer;
}

#more {
  display: none;
}

.description {
  font-size: 12px !important;
  font-weight: 400 !important;
  color: var(--primary-color);
  text-align: justify;
}

.read-more {
  font-weight: 700;
  font-size: 12px !important;
  color: var(--secondary-color);
  margin-top: 5px !important;
  cursor: pointer;
}

@media (min-width: 769px) {
  .title {
    font-size: 25px;
  }
  .icon-medicalLicense {
    width: 30px;
    height: 30px;
  }
  .icon-established {
    width: 28px;
    height: 28px;
  }
  .description {
    font-size: 20px !important;
    line-height: 28px;
  }
  .title-icon,
  .date-established,
  .medicalLicense {
    font-size: 20px;
  }

  .date-established,
  .medicalLicense {
    color: #828282;
  }

  .title-icon {
    margin-top: 10px !important;
    line-height: 32px;
  }
  .slide-up-about {
    display: none;
  }
}

@media (max-width: 768px) and (min-width: 393px) {
  .slide-up-about {
    display: block;
  }
  .popup-about {
    display: none;
  }
}

@media (max-width: 392px) {
  .slide-up-about {
    display: block;
  }
  .popup-about {
    display: none;
  }
  .card {
    flex-direction: column;
    gap: 10px;
  }
}
